<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.xiaocong.sdk.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tv.xiaocong.sdk.demo.PayActivity"></activity>
        <activity
            android:name="tv.xiaocong.sdk.security.RegisterActivity"
            android:label="@string/xcsdk_register_title"
            android:theme="@style/xcsdk_dialog" />
        <activity
            android:name="tv.xiaocong.sdk.security.LoginActivity"
            android:label="@string/xcsdk_login_title"
            android:theme="@style/xcsdk_dialog" >
        </activity>
        <activity
            android:name="tv.xiaocong.sdk.ad.GameSplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.xiaocong.activity.PaymentStartActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.xiaocong.activity.PayWayActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.XCpay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service
            android:name="tv.xiaocong.sdk.ad.ApkDownloadSetupService"
            android:exported="false" >
        </service>

        <!-- PP -->
        <activity
            android:name="cn.pp.creditpayment.PPCreditInitialV1_1"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_loadingDialog"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.CreditUserAct"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_dialogAct"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.CreditAuthCode"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_dialogAct"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.CreditTopUp"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_dialogAct"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.InitialAct"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_loadingDialog"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.UserMessageAct"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_dialogAct"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.BankcardPayAct"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_dialogAct"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.SuccessAct"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_dialogAct"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.pp.creditpayment.BankcardAgreement"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/pp_dialogAct"
            android:windowSoftInputMode="stateUnchanged|stateAlwaysHidden" >
        </activity>
    </application>

</manifest>